/* ------------------ */
/* footer */
/* ------------------ */
footer{
  background-color: #1B1310;
  height: 80px;
}
small{
  display: block;
  text-align: center;
  color: #fff;
  padding-top: 30px;
}
